<div id="add" class="modal">
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
               <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" ng-model="vm.sweet.name">
                        <label for="name">Name</label>
                    </div>
                </div>
                 <div class="row">
                    <div class="input-field col s12">
                        <input id="url" type="text" ng-model="vm.sweet.url">
                        <label for="url">Sweet Image </label>
                    </div>
                </div>
                    <div class="row">
                    <div class="input-field col s12">
                        <input id="desc" type="text" ng-model="vm.sweet.desc">
                        <label for="desc">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field inline">
                        <a ng-if="!vm.loading" ng-click="vm.addSweet()" class="waves-effect waves-light btn">ADD SWEET</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>